<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mapper.CarMapper">
    <select id="selectCarById" resultMap="project.mapper.CarMapper.carResultMap">
        select * from car where id = #{id}
    </select>

    <resultMap id="carResultMap" type="project.model.Car" autoMapping="false">
        <id property="id" column="id"/>
        <result property="brand" column="brand"/>
        <result property="mode" column="model"/>
        <result property="productionYear" column="production_year"/>
        <result property="mileage" column="mileage"/>
        <result property="color" column="color"/>
        <association property="categoryCategoryId"/>
        <association property="currentLocation"/>
    </resultMap>

    <insert id="addCar">
        insert into car (car_category_id, brand, model, production_year, mileage, color, current_location_id) values (#{carCategoryId}, #{brand}, #{model}, #{productionYear}, #{mileage}, #{color}, #{currentLocation})
    </insert>
</mapper>